@page "/qrCodeCameraRecorder"

@inject IJSRuntime JS
@using ReactorBlazorQRCodeScanner

<PageTitle>home</PageTitle>

<QRCodeScanner />
<p>QrCode Content: <a href=" @_qrcodeContent">@_qrcodeContent</a></p>
@code {
    private static QrCodeCameraRecorder _app;
    private QRCodeScannerJsInterop? _qrCodeScannerJsInterop;
    private static string _qrcodeContent = "test";

    private Action<string> _onQrCodeScanAction = (code) => OnQrCodeScan(code);

    protected override async Task OnInitializedAsync()
    {
        _app = this;
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
           
            _qrCodeScannerJsInterop = new QRCodeScannerJsInterop(JS);
            await _qrCodeScannerJsInterop.Init(_onQrCodeScanAction);
            StateHasChanged();
        }
    }

    private static void OnQrCodeScan(string code)
    {
        _qrcodeContent = code;
        Console.WriteLine($"OnQrCodeScan {code}");
        _app.StateHasChanged();
    }
    
}